.Container_button{
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: absolute;
}

.Container_button button{
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.6;
    border: 2px white solid;
    margin-bottom: 30%;
    width: 200px;
    height: 50px;
    z-index: 1; /* opcional */
    font-family: monospace;
    transition: 200ms ease-in-out;
}

.Container_button button:hover{
    opacity: 1;
}

.Container_contact{
    display: flex;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    height: 50%;
}

.Container_contact h3{
    color: white;
    letter-spacing: 20px;    
    position: static;

}

@media (max-width: 600px) {
    .Container_button {
        margin-bottom: 80%;
    }
}
