.navBar {
    margin-bottom: 1px;
    width: 100%;
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 9999;
    background-color: #000 !important;
    color: #fff !important;
  
    opacity: 1 !important;
    backdrop-filter: none !important;
    background-image: none !important;
  }

.bg-dark {
    --bs-bg-opacity: 0 !important;
    background-color: rgb(0 0 0) !important;
}